* {
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
}

.remark {
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.form > p {
    margin-bottom: 10px;
}

.form:hover {
    cursor: pointer;
}

.btn {
    width: 150px;
    margin: 0 auto;
}




.div1 {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px auto 10px;
    border: 10px solid red;
}

.div2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.wrap {
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 0 auto;
}